@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
}

.wrapper, main, .footer-content {
    width: 85%;
    margin: 0 auto;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 50px;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    margin-bottom: 25px;
}

/* shared styles */
.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    padding: 10px 30px;
    cursor: pointer;
    outline: none;
    border: 0;
    font-size: 20px;
    color: white;
    font-weight: 700;
}

.text-orange {
    color: #FD6E0A;
}

.what-i-do, .resume {
    margin-bottom: 100px;
}

/* header styles */
header {
    background-color: #FFF8F3;
    padding: 50px 0 0 0;
    background-image: url("./images/header_bg.png"), url("./images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

/* navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.logo {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    padding: 0 20px;
}

nav li:last-child {
    padding-right: 0;
}

nav li a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}

/* banner styles */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-content, .image-content {
    width: 35%;
}

.image-content img {
    width: 100%;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description {
    margin-bottom: 20px;
}

/* about section style */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 100px 0;
}
.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

/* what i do section styles */
.what-i-do-description {
    padding: 0 150px 30px 150px;
}

.skills-container {
    display: flex;
    gap: 20px;
}

.skill {
    padding: 25px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-description {
    color: #757575;
}

/* resume section styles */
.resume-container {
    display: flex;
    gap: 30px;
}
.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.resume-item-institute {
    margin-bottom: 20px;
    margin-top: 0px;
}

.resume-item-institute,
.resume-item-description {
    color: #757575;
}

.resume-container hr {
    margin: 30px 0;
}

.download-cv {
    text-align: center;
    margin-top: 50px;
}

/* footer styles */
footer {
    background-color: #FFF8F3;
    padding: 100px 0;
}
.footer-content {
    display: flex;
    gap: 30px;
}
.footer-item {
    width: 50%;
}
.left {
    text-align: left;
}
.social-links a{
    margin-right: 25px;
}
.contact input[type="text"], .contact input[type="email"], textarea {
    display: inline-block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 75%;
}


/* responsive styles */
/* mobile devices */
@media screen and (max-width: 576px) {
    .section-title {
        margin-bottom: 30px;
    }
    .what-i-do-description {
        padding: 0 25px 15px 25px;
    }
    .skills-container {
        flex-direction: column;
    }
}