@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
}

.wrapper, main {
    width: 85%;
    margin: 0 auto;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 15px;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    margin-bottom: 25px;
}

/* shared styles */

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    padding: 10px 30px;
    cursor: pointer;
    outline: none;
    border: 0;
    font-size: 20px;
    color: white;
    font-weight: 700;
}

.text-orange {
    color: #FD6E0A;
}

/* header styles */
header {
    background-color: #FFF8F3;
    padding: 50px 0 0 0;
    background-image: url("./images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

/* navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    padding: 0 20px;
}

nav li:last-child {
    padding-right: 0;
}

nav li a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}

/* banner styles */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-content {
    width: 35%;
}

.image-content {
    width: 35%;
}

.image-content img {
    width: 100%;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description {
    margin-bottom: 20px;
}

/* about section style */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 100px 0;
}
.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}